TASKTRACKER_POSTGRES_DB=tasktracker_prod
TASKTRACKER_POSTGRES_USER=tasktracker_prod
TASKTRACKER_POSTGRES_PASSWORD=replace_with_strong_password
TASKTRACKER_POSTGRES_HOST_PORT=5434

TASKTRACKER_ASPNETCORE_ENVIRONMENT=Production
TASKTRACKER_API_URLS=http://+:8080

TASKTRACKER_API_HOST_PORT=8082
TASKTRACKER_UI_HOST_PORT=3002